services:
  rabbitmq:
    image: rabbitmq:3.13-management
    container_name: rabbitmq
    hostname: rabbitmq
    restart: unless-stopped

    ports:
      - "5672:5672"    
      - "15672:15672" 

    environment:
      RABBITMQ_DEFAULT_USER: app_user
      RABBITMQ_DEFAULT_PASS: strong_password
      RABBITMQ_DEFAULT_VHOST: /
      RABBITMQ_LOAD_DEFINITIONS: /etc/rabbitmq/definitions.json

    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
      - ./rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf:ro
      - ./definitions.json:/etc/rabbitmq/definitions.json:ro

volumes:
  rabbitmq_data:
